/* Cor do logo
background-image: linear-gradient(to right, rgb(61, 67, 124,0.9),rgb(187,64,80,0.9)); */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');


*{
    font-family: 'Raleway', sans-serif;
}
body{
background-image: linear-gradient(to right, rgb(61, 67, 124,0.9),rgb(187,64,80,0.9));

}
header {
    position: relative;
    background-color: black;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
  
  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  header .container {
    position: relative;
    z-index: 2;
  }
  
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .8;
    z-index: 1;
  }
  .card-body{
      justify-content: center;
      width: 80%;
  }
  .card{
    height: 300px;
 }
  /* Media Query for devices withi coarse pointers and no hover functionality */
  
  /* This will use a fallback image instead of a video for devices that commonly do not support the HTML5 video element */
  
  @media (pointer: coarse) and (hover: none) {
    header {
      background: url('../img/backgroundheaderwindow.png') black no-repeat center center scroll;
    }
  
    header video {
      display: none;
    }
  }
  #imglogoheader{
      margin: 0;
      padding: 0;
  }
  #logoWhiteName{
    padding: 0 ;
    margin: 0;
  }
  
  @media (max-height:1400px){
      .card{
          height: 400px;
      }
  }
  @media(max-width:1000px){
    #logoWhiteName{
      padding: 10px;
      width: 50vh;
    }
    #textheader{width:max-content;}
  }
  @media(max-width:750px){
    #logoWhiteName{
    }
  }
  @media (max-height:500px){
      .card{
          height: max-content;
      }
  }
